/* Universal Selector */
* {
  font-family: Arial, sans-serif;
}

/* ID Selector */
#main-heading {
  color: darkblue;
  text-align: center;
}

/* Class Selector */
.info {
  color: green;
}

/* Descendant Selector */
.container p {
  color: orange;
}

/* Group Selector */
h2, p {
  margin-left: 20px;
}
