body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.box {
  background: #4CAF50;
  color: white;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

/* For desktop view */
@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
}
